language: java
jdk: openjdk8
addons:
    sonarcloud:
        organization: "fourcats" # the key of the org you chose at step #3
        token: ${SONAR_TOKEN} # encrypted value of your token
script:
# other script steps might be done before running the actual analysis
- cd my-app
- mvn clean verify sonar:sonar -Pcoverage 
